<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_demo"
        android:label="@string/HealthCare"
        android:roundIcon="@mipmap/ic_launcher_demo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Splash_Activity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".Pdf_Activity" />
        <activity android:name=".Video_Activity" />
        <activity android:name=".LastPage" />
        <activity android:name=".BrainTumour" />
        <activity android:name=".Malaria" />
        <activity android:name=".Typhoid" />
        <activity android:name=".Bloodpressure" />
        <activity android:name=".Diabetes" />
        <activity android:name=".Cancer" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>